<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ritiro consegna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/cliente">Home</a> &nbsp; / &nbsp;
<a href="/cliente/consegne">Consegne</a>

<h2>Ritira consegna</h2>

<p><b>Codice per il ritiro</b>: <code th:text="${id}"></code></p>
<p><b>Indirizzo</b>: <th:block th:text="${indirizzo}"/></p>

<p>
    <a th:if="${ritirabile}" th:href="@{/cliente/segnalaRitiro(id=${id})}">
        Ho ritirato la merce
    </a>
</p>

</body>
</html>