<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Punto vendita</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/commerciante">Home</a>

    <h1 th:text="${puntoVendita.nome}"></h1>
    <p><b>Codice punto vendita:</b> <code th:text="${puntoVendita.id}"></code></p>
    <p>Situato in: <th:block th:text="${puntoVendita.posizione}"/></p>

    <p>
        <a th:href="@{'/commerciante/puntoVendita/elimina'(id=${puntoVendita.id})}"
           onclick="return confirm('Eliminare il punto vendita?')">
            Elimina punto vendita
        </a>
        |
        <a th:href="@{'/commerciante/puntoVendita/aggiungiProdotto'(idPuntoVendita=${puntoVendita.id})}">
            Aggiungi prodotto
        </a>
        |
        <a th:href="@{'/commerciante/puntoVendita/aggiungiOfferta'(idPuntoVendita=${puntoVendita.id})}">
            Aggiungi offerta
        </a>
    </p>

    <h3>Offerte</h3>
    <div class="card-container">
        <div class="card" th:each="offerta : ${offerte}">
            <p class="card-text" th:text="${offerta.descrizione}"></p>
            <code class="card-text" th:text="${offerta.importo}"></code>
            <p class="card-details" th:if="${offerta.scadenza != null}">
                Scade il
                <th:block th:text="${offerta.scadenza}"/>
            </p>
            <p class="card-details">
                <a th:href="@{'/commerciante/puntoVendita/eliminaOfferta'(idPuntoVendita=${puntoVendita.id},idOfferta=${offerta.id})}"
                    onclick="return confirm('Eliminare l\'offerta?')">
                    Elimina
                </a>
            </p>
        </div>
    </div>

    <hr>

    <h3>Prodotti</h3>

    <table>
        <thead>
        <tr>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Disponibile</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${puntoVendita.prodotti}" th:class="${p.disponibilita} ? '' : muted">
            <td th:text="${p.descrizione}"></td>
            <td th:text="'€ ' + ${p.prezzo}"></td>
            <td th:text="${p.disponibilita} ? 'sì' : 'no'"></td>
            <td>
                <a th:href="@{'/commerciante/puntoVendita/eliminaProdotto'(idPuntoVendita=${puntoVendita.id},idProdotto=${p.id})}"
                    onclick="return confirm('Eliminare prodotto dal punto vendita?')">
                    Elimina
                </a>
                |
                <a th:href="@{'/commerciante/puntoVendita/cambiaDisponibilita'(idPuntoVendita=${puntoVendita.id},idProdotto=${p.id})}"
                   th:text="${p.disponibilita} ? 'Imposta non disponibile' : 'Imposta disponibile'">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>